html{
}

body{
    height: 100%;
	margin-top: 27px;
	margin-left: 27px;
	background-color: black;
	color:#d9f2e4;
	font-size: large;
}

div {
	height: 100%;
	width: 100%;
}

a:visited {
	color:#33995f;
}

a:unvisited{
	color:#8cd9ad;
}

	
