html{
}

body{
    height: 100%;
	margin-top: 27px;
	margin-left: 27px;
	background-color: black;
	color:white;
	font-size: large;
}

div {
	height: 100%;
	width: 100%;
}

a:visited {
	color:limegreen;
}

	
